doctype 5
html(lang="en")
  head
    meta(charset='UTF-8')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css').
    script(type='text/javascript', src='/javascripts/jquery.1.10.2.min.js').
    block header
  body
    #container
      #contents
        block contents
    block scripts