extends layout

block contents
  h1 Master! Master!
  h3 Login the MasterOfPappets.
  #login
    p#error_message= error_message
    form(action='/dologin', method='POST')
      table
        tbody
          tr
            th User Name:
            td
              input(type='text', name='user_name')
          tr
            th Password:
            td
              input(type='password', name='password')
      p
        input(type='submit', value='login')
