// Jade
extend layout

block header
  script(type='text/javascript', src='/socket.io/socket.io.js').
  script(type='text/javascript', src='/javascripts/chat.js').
  

block contents
  .setting_area
    
  .select_page
    select#page_no
        for pa in page
            option(value='#{pa}') #{pa}
  .puts
    input#page_change(type='button', name='page_change' value='切り替え').