// Jade
extend layout

block header
  script(type='text/javascript', src='/socket.io/socket.io.js').
  script(type='text/javascript', src='/javascripts/chat.js').
  

block contents
  
  input#user_name(type='hidden', name='user_name')
  input#message(type='text', name='message')
  button#postbutton.
    send!
  dl#list.