// Jade
extend layout

block header
  script(type='text/javascript', src='/socket.io/socket.io.js').
  script(type='text/javascript', src='/javascripts/chat.js').

block contents
  .window_zone
    div(id='#{user_name}')
      for pa in page
        div(id='#{pa}')
            p #{pa}
  input#user_name(type='hidden', name='user_name', value='#{user_name}').
